/* TSOS.css */

body {
  background: #909193 url(distrib/images/deathstar.jpg) repeat;
  font-family: 'Star Wars', sans-serif;
  font-size: 12pt;
}

h1 {
  color: white;
  font-size: 24pt;
  border-bottom: 1px solid white;
}

h2 {
  color: white;
  font-size: 20pt;
}

h3 {
  font-family: 'Star Wars', sans-serif;
  font-size: 16pt;
}

#display {
  background-color: #DFDBC3;
  border: 2px solid red;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: white;
  font-family: 'Star Wars', sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  font-weight: bold;
  padding: 10px;
  color: white;
  background: linear-gradient(90deg, transparent 50%, #00f0ff 50%, #00f0ff);
  background-size: 200% 100%;
  animation: lightsaber 2s linear infinite;
}

#tableCpu,
#memoryTable,
#tablePCB {
  font-family: Georgia, serif;
}

table {
  border-collapse: collapse;  
}

th, td {
  border: 1px solid white;
  padding: 10px;
}

#divMain {
  display: flex;
  flex-direction: column;
}

#divTop {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#divContent {
  display: flex;
}

#divColumn1, #divColumn2, #divColumn3 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#divConsole {
  margin: 4px;
  flex: 1;
}

#divLog,
#divUserProgramInput,
#divCpu,
#divPCB,
#divMemory {
  color: white;
  flex: 1;
}

#divMemory {
  overflow-y: auto;
  max-height: 400px;
}

@keyframes lightsaber {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
