body {
  background: #909193 url(distrib/images/deathstar.jpg) repeat;
  font-family: 'Star Wars', sans-serif;
  font-size: 12pt;
}

.highlighted {
  color: #4bfcf6;
}

.normal {
  color: white; 
}

h1 {
  color: white;
  font-size: 24pt;
  border-bottom: 1px solid white;
}

h2 {
  color: white;
  font-size: 20pt;
}

h3 {
  font-family: 'Star Wars', sans-serif;
  font-size: 16pt;
}

#display {
  background-color: #DFDBC3;
  border: 2px solid red;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: white;
  font-family: 'Star Wars', sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  font-weight: bold;
  padding: 10px;
  color: white;
  border: none; /* This will remove the border */
  margin-bottom: 60px; /* Add this line to introduce space below divRow */
}

#tableCpu,
#memoryTable,
#tablePCB
 {
  font-family: Georgia, serif;
}

table {
  border-collapse: collapse;  
}

th, td {
  border: 1px solid white;
  padding: 10px;
}

#divMain {
  display: flex;
  flex-direction: column;
}

#divTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none; /* This will remove the border */

}

#divContent {
  display: flex;
}

#divColumn1, #divColumn2, #divColumn3 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#divConsole {
  margin: 4px;
  flex: 1;
  position: relative; 
  z-index: 2; 
}

#divLog,
#divUserProgramInput,
#divCpu,
#divPCB,
#divMemory
 {
  color: white;
  flex: 1;
}

#divMemory {
  overflow-y: auto;
  max-height: 400px;
}

.diskDisplayTable {
  color: #ffe81f; 
  background-color: rgba(0, 0, 0, 0.8); 
  border: 1px solid transparent; 
  width: 1000px;
  text-align: center;
  margin: auto;
  font-family: 'Star Jedi', sans-serif; /* Star Wars themed font */
}

.diskDisplayTable td,
.diskDisplayTable th {
  border: 1px solid transparent; /* Make the cell borders transparent */
}

#tableDisk {
  width: 113%;
  max-height: 525px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('distrib/images/starwars.jpg'); /* Star Wars-themed background image */
  background-size: cover;
  border-radius: 50px;
}

#tableDisk:hover {
  overflow-x: hidden;
  overflow-y: scroll;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.starwars-theme {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This makes the background stay in place while the table scrolls */
}



/*Start of lightsaber css*/


.lightsaber {
  position: fixed;
  bottom: 88%; /* Adjust as needed */
  left: 1%;
  font-size: 10px;
  transform-origin: bottom center; /* or another appropriate value */
  transform: translateY(0) rotate(90deg);
  z-index: 1;
}


.lightsaber .bottom{
  width: 3em;
  height: 11em;
  background: #c4c4c4;
  position: relative;
}

.lightsaber .bottom::before{
  content: '';
  width: 130%;
  height: 2em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  background: inherit;
}

.lightsaber .bottom::after{
  content: '';
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 4em;
  left: 50%;
  transform: translateX(-50%);
  background: #333333;
}

.lightsaber .middle{
  width: 2.6em;
  height: 6em;
  background:
    linear-gradient(
    0deg, #333333
    8%, #8d8d8d 10%, #333333
    12%, #333333 22%, #8d8d8d
    24%, #333333 26%, #333333
    36%, #8d8d8d 38%, #333333
    40%, #333333 50%, #8d8d8d
    52%, #333333 54%, #333333
    64%, #8d8d8d 66%, #333333
    68%, #333333 78%, #8d8d8d
    80%, #333333 82%);
    margin: 0 auto;
    position: relative;

}

.lightsaber .middle::before{
  content: '';
  width: 70%;
  height: 1em;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  background: #c4c4c4;
}

.lightsaber .top{
  background: #c4c4c4;
  height: 1em;
  width: 3em;
  margin-bottom: 0.8em;
  border-radius: 0 0 1em 1em;
  position: relative;
}

.lightsaber .top:before{
  content: '';
  width: 120%;
  height: 0.5em;
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.lightsaber .bottom,
.lightsaber .bottom::before,
.lightsaber .top,
.lightsaber .bottom::before,
.lightsaber .middle::before{
  background: 
    linear-gradient(
      90deg, rgba(126,126,126,1) 0%,
      rgba(227,227,227,1)
      20%, rgba(120,120,120,1)
      50%, rgba(227,227,227,1)
      80%, rgba(126,126,126,1) 100%);
}

.lightsaber .blade{
  height: 0;
  width: 1.8em;
  background: #fff;
  border-radius: 2em 2em 0 0;
  margin: 0 auto;
  transition: 1s;
  position: absolute;
  bottom: 70%; /* Adjust this value as necessary */
  left: 22%;
  transform-origin: bottom center;
  transform: translateY(0); /* Add rotation here */
}

.lightsaber .blade::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #03fd4e;
  filter: blur(15px);
  z-index: -1;
}

.lightsaber .bottom .switch-btn{
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #000;

}

.lightsaber .blade.active {
  height: 50em;
}

.lightsaber .blade::before.active {
  background: #03fd4e; /* You can adjust the color */
}

.lightsaber .blade.red::before {
  background: #ff0000; /* Red Color */
}